.py-1 {
  padding: 1rem 0; }

.py-2 {
  padding: 2rem 0; }

.py-3 {
  padding: 3rem 0; }

.my-1 {
  margin: 1rem 0; }

.my-2 {
  margin: 2rem 0; }

.my-3 {
  margin: 3rem 0; }

.text-main {
  color: #ffbc00; }

.text-dark {
  color: #333; }

.text-light {
  color: #f4f4f4; }

.text-danger {
  color: #d10700; }

.container {
  max-width: 1280px;
  margin: auto;
  padding: 0 1.5rem;
  overflow: hidden; }

.btn-main, .btn-light, .btn-dark, .btn-danger {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease; }

.btn-main {
  color: #333;
  background: #ffbc00; }

.btn-light {
  color: #333;
  background: #f4f4f4;
  border: 1px solid #ffbc00; }
  .btn-light:hover {
    background: #ffbc00; }

.btn-dark {
  color: #f4f4f4;
  background: #333; }

.btn-danger {
  color: #f4f4f4;
  background: #d10700; }

.btn-small {
  padding: 0.4rem 0.8rem; }
  .btn-small:hover {
    opacity: 0.8;
    border-radius: 15px; }

.bottom-line {
  height: 2px;
  width: 4rem;
  background: #ffbc00;
  display: block;
  margin: 0 auto 1rem auto; }

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem; }
  .main-nav .logo {
    width: 70px;
    height: 70px; }
  .main-nav ul {
    display: flex; }
    .main-nav ul li {
      padding: 1rem 1.5rem; }
      .main-nav ul li a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 3px solid transparent;
        padding-bottom: 0.5rem;
        transition: all 0.5s ease; }
        .main-nav ul li a:hover {
          border-color: #ffbc00; }
      .main-nav ul li .current {
        color: #ffbc00; }

.text {
  font-size: 1.2rem;
  margin-bottom: 2rem; }

.bold {
  font-weight: bold; }

.text-center {
  text-align: center; }

.icon-style {
  font-size: 50px;
  color: #ffbc00; }

.icon-style-back-end {
  margin: 0.7rem;
  font-size: 150px;
  color: #01617b; }

.icon-style-dev {
  margin: 0.7rem 0.4rem 0 0.4rem;
  font-size: 75px;
  color: #01607b7e; }

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1rem; }
  .project .image-container {
    height: 325px;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.404); }
    .project .image-container img {
      height: 100%;
      cursor: pointer;
      transition: 1s all ease; }
  .project .project-info {
    position: absolute;
    display: none; }
    .project .project-info .app-features {
      font-size: 0.8rem; }
    .project .project-info .project-buttons {
      margin-top: 1rem; }
  .project:hover img {
    opacity: 0.2;
    transform: scale(1.2); }
  .project:hover .project-info {
    display: block; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #f4f4f4; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }

img {
  width: 100%; }

.header-home {
  background: url("../images/img-1.jpg") no-repeat center right/cover;
  height: 100vh;
  color: #fff; }
  .header-home .header-content {
    text-align: center;
    padding-top: 10%; }
    .header-home .header-content h1 {
      font-size: 3.5rem;
      line-height: 1.2;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.486); }
    .header-home .header-content h2 {
      margin-bottom: 1rem; }

.home-a {
  text-align: center;
  padding: 3rem 0; }
  .home-a .specials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    grid-gap: 1rem; }
    .home-a .specials h3 {
      color: #ffbc00; }

.home-b {
  text-align: center;
  padding: 3rem 0;
  background: #ccc; }
  .home-b .used-technologies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem 0.5rem 0 0.5rem; }

.home-c {
  text-align: center;
  padding: 3rem 0; }
  .home-c .home-work {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 2rem 0.5rem; }

.navbar-header {
  background: url("../images/img-1.jpg") no-repeat center top/cover;
  height: 5.5rem;
  border-bottom: 3px solid #ffbc00;
  color: #fff; }

.about {
  text-align: center;
  height: 100vh; }
  .about h2 {
    margin-top: 2rem; }
  .about .about-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1.2rem; }
    .about .about-info .bio-image {
      border-radius: 10px;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.466); }
    .about .about-info .bio {
      background: #ccc;
      padding: 0.8rem;
      border-radius: 10px;
      border-left: 3px solid #ffbc00;
      border-right: 3px solid #01617b; }

.work {
  text-align: center;
  margin: 3rem 0; }
  .work .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem; }

#main-footer {
  background: #333;
  color: #fff; }
  #main-footer .footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    height: 9rem; }
    #main-footer .footer-content ul li {
      margin: 0.7rem 0; }
      #main-footer .footer-content ul li a {
        color: #f4f4f4;
        border-bottom: dotted 2px transparent;
        padding-bottom: 0.4rem;
        transition: all 0.5s ease; }
        #main-footer .footer-content ul li a:hover {
          border-color: #ffbc00;
          text-shadow: 1px 1px 4px #ffbb00b4; }
    #main-footer .footer-content .social .fab {
      margin-right: 1rem;
      border: 2px #ffbc00 solid;
      color: #f4f4f4;
      padding: 0.5rem;
      border-radius: 50%;
      transition: all 0.5s ease; }
      #main-footer .footer-content .social .fab:hover {
        background: #ffbc00;
        color: #333; }

@media (max-width: 900px) {
  .main-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem; }
    .main-nav ul {
      display: flex;
      justify-content: center; }
  .home-a .specials {
    grid-template-columns: 1fr; }
  .home-c .home-work {
    grid-template-columns: 1fr; }
  .navbar-header {
    height: 12.5rem; }
  .about .about-info {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center; }
    .about .about-info .bio-image {
      height: 250px;
      width: 350px;
      margin: 0 auto; }
  .work .gallery {
    grid-template-columns: 1fr; }
  #main-footer .footer-content {
    grid-template-columns: 1fr;
    height: 25rem; }
    #main-footer .footer-content .footer-options,
    #main-footer .footer-content .footer-contact,
    #main-footer .footer-content .social,
    #main-footer .footer-content .copyright {
      text-align: center; } }

@media (max-width: 500px) {
  .header-home .header-content h1 {
    font-size: 1.8rem; }
  .header-home .header-content h2 {
    font-size: 1.2rem;
    margin-bottom: 7rem; } }
