.container {
  max-width: $website-width;
  margin: auto;
  padding: 0 1.5rem;
  overflow: hidden;
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn-main {
  @extend %btn-shared;
  color: #333;
  background: $color-main;
}

.btn-light {
  @extend %btn-shared;
  color: #333;
  background: $color-light;
  border: 1px solid $color-main;

  &:hover {
    background: $color-main;
  }
}

.btn-dark {
  @extend %btn-shared;
  color: $color-light;
  background: $color-dark;
}

.btn-danger {
  @extend %btn-shared;
  color: $color-light;
  background: $color-danger;
}

.btn-small {
  padding: 0.4rem 0.8rem;

  &:hover {
    opacity: 0.8;
    border-radius: 15px;
  }
}

.bottom-line {
  height: 2px;
  width: 4rem;
  background: $color-main;
  display: block;
  margin: 0 auto 1rem auto;
}

// MAIN NAV
.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;

  // LOGO
  .logo {
    width: 70px;
    height: 70px;
  }

  // OPTIONS
  ul {
    display: flex;

    li {
      padding: 1rem 1.5rem;

      a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 3px solid transparent;
        padding-bottom: 0.5rem;
        transition: all 0.5s ease;

        &:hover {
          border-color: $color-main;
        }
      }

      .current {
        color: $color-main;
      }
    }
  }
}

.text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

// SPECIALIZE PART
.icon-style {
  font-size: 50px;
  color: $color-main;
}

.icon-style-back-end {
  margin: 0.7rem;
  font-size: 150px;
  color: $color-second;
}

// technologies Icons
.icon-style-dev {
  margin: 0.7rem 0.4rem 0 0.4rem;
  font-size: 75px;
  color: #01607b7e;
}

// WORK PROJECT DISPLAY
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;

  .image-container {
    height: 325px;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.404);

    img {
      height: 100%;
      cursor: pointer;
      transition: 1s all ease;
    }
  }

  .project-info {
    position: absolute;
    display: none;

    .app-features {
      font-size: 0.8rem;
    }

    .project-buttons {
      margin-top: 1rem;
    }
  }

  &:hover {
    img {
      opacity: 0.2;
      transform: scale(1.2);
    }

    .project-info {
      display: block;
    }
  }
}
