.container {
  max-width: $website-width;
  margin: auto;
  padding: 0 1.5rem;
  overflow: hidden;
}

// Buttons
%btn-shared {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    background: $color-main;
  }
}

.btn-main {
  @extend %btn-shared;
  color: #333;
  background: $color-main;
}

.btn-light {
  @extend %btn-shared;
  color: #333;
  background: $color-light;
}

.btn-dark {
  @extend %btn-shared;
  color: #f4f4f4;
  background: $color-dark;
}

.bottom-line {
  height: 2px;
  width: 4rem;
  background: $color-main;
  display: block;
  margin: 0 auto 1rem auto;
}

// MAIN NAV
.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  // LOGO
  .logo {
    width: 70px;
    height: 70px;
  }

  ul {
    display: flex;

    li {
      padding: 1rem 1.5rem;

      a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 3px solid transparent;
        padding-bottom: 0.5rem;
        transition: all 0.5s ease;

        &:hover {
          border-color: $color-main;
        }
      }

      .current {
        color: $color-main;
      }
    }
  }
}

.text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

// SPECIALIZE PART
.icon-style {
  font-size: 50px;
  color: $color-main;
}

.icon-style-back-end {
  margin: 0.7rem;
  font-size: 150px;
  color: $color-second;
}

// technologies Icons
.icon-style-dev {
  margin: 0.7rem 0.4rem 0 0.4rem;
  font-size: 75px;
  color: #01607b7e;
}
