// VARIABLES
$website-width: 1280px;
$color-main: #ffbc00;
$color-second: #01617b;
$color-second-light: #0890b6;
$color-second-med: #047fa1;
$color-light: #f4f4f4;
$color-dark: #333;
$color-grey: #ccc;
$color-danger: #d10700;

// PADDING
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

// MARGIN
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

// text color
.text-main {
  color: $color-main;
}

.text-dark {
  color: $color-dark;
}

.text-light {
  color: $color-light;
}

.text-danger {
  color: $color-danger;
}
