@import "config";
@import "components";

// General styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: $color-light;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-dark;
}

img {
  width: 100%;
}

// HEADER
#header-home {
  background: url("../images/img-1.jpg") no-repeat center right / cover;
  height: 100vh;
  color: #fff;

  // MAIN NAV
  #main-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

    // LOGO
    #logo {
      width: 70px;
      height: 70px;
    }

    ul {
      display: flex;

      li {
        padding: 1rem 1.5rem;

        a {
          text-decoration: none;
          color: #fff;
          text-transform: uppercase;
          border-bottom: 3px solid transparent;
          padding-bottom: 0.5rem;
          transition: all 0.5s ease;

          &:hover {
            border-color: $color-main;
          }
        }

        .current {
          color: $color-main;
        }
      }
    }
  }

  .header-content {
    text-align: center;
    padding-top: 10%;

    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.486);
    }

    h2 {
      margin-bottom: 1rem;
    }
  }
}

// HOME SECTION
#home {
  // Home section A
  &-a {
    .section-title {
      color: $color-main;
    }
    .specials {
      margin-top: 3rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(2, 1fr);

      .img {
        padding-bottom: 0.5rem;
      }

      h3 {
        color: $color-main;
      }
    }
  }

  // Home section B
  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;

      li {
        line-height: 2;
      }
      &-title {
        font-size: 1.5rem;
      }

      &-number {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    div {
      padding: 2.5rem 0;

      &:nth-child(odd) {
        background: $color-medium;
      }

      &:nth-child(even) {
        background: $color-light;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.253);
      }
    }
  }
}

// FOOTER
#main-footer {
  background: $color-dark;
  color: #fff;

  .footer-content {
    display: flex;
    justify-content: space-around;
    height: 9rem;
    align-items: center;

    ul li {
      margin: 0.7rem 0;

      a {
        color: $color-light;
        border-bottom: dotted 2px transparent;
        padding-bottom: 0.4rem;

        &:hover {
          border-color: $color-main;
          text-shadow: 1px 1px 4px #ffbb00b4;
        }
      }
    }

    .social .fab {
      margin-right: 1rem;
      border: 2px $color-main solid;
      padding: 0.5rem;
      border-radius: 50%;
      transition: all 0.5s ease;

      &:hover {
        background: $color-main;
        color: $color-dark;
      }
    }
  }
}
