@import "config";
@import "components";

// General styles
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: $color-light;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-dark;
}

img {
  width: 100%;
}

// HEADER
.header-home {
  background: url("../images/img-1.jpg") no-repeat center right / cover;
  height: 100vh;

  color: #fff;
  // HERE GOES MAIN NAV COMPONENT
  .header-content {
    text-align: center;
    padding-top: 10%;

    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.486);
    }

    h2 {
      margin-bottom: 1rem;
    }
  }
}

// HOME SECTIONS
// section A
.home-a {
  text-align: center;
  padding: 3rem 0;

  .specials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;
    grid-gap: 1rem;

    h3 {
      color: $color-main;
    }
  }
}

// section B
.home-b {
  text-align: center;
  padding: 3rem 0;
  background: $color-grey;

  .used-technologies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem 0.5rem 0 0.5rem;
  }
}

// section C
.home-c {
  text-align: center;
  padding: 3rem 0;

  .home-work {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    margin: 2rem 0.5rem;
  }
}

// ABOUT SECTONS
.navbar-header {
  background: url("../images/img-1.jpg") no-repeat center top / cover;
  height: 5.5rem;
  border-bottom: 3px solid $color-main;
  color: #fff;
}

.about {
  text-align: center;
  height: 100vh;

  h2 {
    margin-top: 2rem;
  }

  .about-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1.2rem;

    .bio {
      background: $color-grey;
      padding: 0.8rem;
      border-radius: 10px;
      border-left: 3px solid $color-main;
      border-right: 3px solid $color-second;
    }

    .bio-image {
      border-radius: 10px;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.466);
    }
  }
}

// WORK
.work {
  text-align: center;
  margin: 3rem 0;

  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

// FOOTER
#main-footer {
  background: $color-dark;
  color: #fff;

  .footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    height: 9rem;

    ul li {
      margin: 0.7rem 0;

      a {
        color: $color-light;
        border-bottom: dotted 2px transparent;
        padding-bottom: 0.4rem;
        transition: all 0.5s ease;

        &:hover {
          border-color: $color-main;
          text-shadow: 1px 1px 4px #ffbb00b4;
        }
      }
    }

    .social .fab {
      margin-right: 1rem;
      border: 2px $color-main solid;
      color: $color-light;
      padding: 0.5rem;
      border-radius: 50%;
      transition: all 0.5s ease;

      &:hover {
        background: $color-main;
        color: $color-dark;
      }
    }
  }
}

// RESPONSIVNESS
@media (max-width: 900px) {
  // =====================================================
  //               HOME PAGE
  // =====================================================
  // navbar
  .main-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;

    // OPTIONS
    ul {
      display: flex;
      justify-content: center;
    }
  }

  // SECTION SPECIALIZE
  .home-a {
    .specials {
      grid-template-columns: 1fr;
    }
  }

  // SECTION WORK
  .home-c {
    .home-work {
      grid-template-columns: 1fr;
    }
  }

  // NAVBAR HEADER FOR ABOUT AND WORK PAGES
  .navbar-header {
    height: 12.5rem;
  }

  // =====================================================
  //               ABOUT PAGE
  // =====================================================
  .about {
    height: 100%;

    .about-info {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
      margin-bottom: 2rem;

      .bio-image {
        height: 250px;
        width: 350px;
        margin: 0 auto;
      }
    }
  }

  // =====================================================
  //               WORK PAGE
  // =====================================================
  .work {
    .gallery {
      grid-template-columns: 1fr;
    }
  }

  // FOOTER
  #main-footer {
    .footer-content {
      grid-template-columns: 1fr;
      height: 25rem;

      .footer-options,
      .footer-contact,
      .social,
      .copyright {
        text-align: center;
      }
    }
  }
}

@media (max-width: 500px) {
  // =====================================================
  //               HOME PAGE
  // =====================================================
  // HEADER HOME
  .header-home {
    .header-content {
      h1 {
        font-size: 1.8rem;
      }
      h2 {
        font-size: 1rem;
        margin-bottom: 7rem;
      }
    }
  }
}
